.blog {
	position: absolute;
	display: block;
	width: calc(100% - 40px);
	color: rgba(0, 0, 0, 0.8);
	animation-name: seeIn;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-fill-mode: backwards;

	& h3 {
		padding: 0 0 10px;
		font-size: 1.3em;
	}
	@media (min-width: 900px) {
		padding: 10px;
		& h3 {
			font-size: 1.5em;
		}
	}

	&__header {
		padding: 10px 10px;
		margin-bottom: 20px;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 4px;
		box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);

		&-items {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(10, 120px);
			row-gap: 20px;

			@media (min-width: 600px) {
				grid-template-rows: repeat(10, 150px);
			}

			@media (min-width: 800px) {
				grid-template-rows: repeat(10, 120px);
			}

			@media (min-width: 1200px) {
				grid-template-columns: 1fr 1fr;
				grid-template-rows: repeat(5, 150px);
				column-gap: 10px;
			}

			& li {
				display: flex;
				justify-content: space-between;
				align-items: flex-start;

				& .box-left {
					width: 20px;
					height: 25px;
					display: flex;
					justify-content: center;
					align-items: center;
					border-bottom-left-radius: 5px;
					border-top-left-radius: 5px;
					background-color: rgba(16, 139, 12, 0.2);
					position: relative;
					z-index: 2;
					cursor: pointer;
				}
				& .box-center {
					width: calc(100% - 55% - 20px);
					height: 100%;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: space-around;
					padding: 10px 5px;
					border-bottom-left-radius: 5px;
					background-color: rgba(16, 139, 12, 0.2);
					position: relative;
					z-index: 2;

					& .date {
						display: flex;
						flex-direction: column;
						align-items: center;
						& p {
							padding: 7px 0 0;
							font-size: 0.55em;
						}

						@media (min-width: 500px) {
							& p {
								font-size: 0.7em;
							}
						}
					}

					& .type {
						& h6 {
							padding: 0 0 3px;
							font-size: 0.6em;
							font-style: oblique;
							text-align: center;
						}
						& p {
							font-size: 0.5em;
							font-style: oblique;
						}
					}
				}
				& .box-right {
					width: 55%;
					height: 100%;
					padding: 5px;
					border-bottom-right-radius: 5px;
					border-top-right-radius: 5px;
					background-color: rgba(16, 139, 12, 0.1);
					box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
					position: relative;
					z-index: 1;

					& h6 {
						font-size: 0.5em;
						padding: 10px 0;
					}

					& p {
						font-size: 0.5em;
					}

					@media (min-width: 400px) {
						& h6 {
							font-size: 0.6em;
							padding: 20px 0 15px;
						}

						& p {
							font-size: 0.6em;
						}
					}

					@media (min-width: 600px) {
						& h6 {
							font-size: 0.7em;
						}

						& p {
							font-size: 0.7em;
						}
					}

					@media (min-width: 800px) {
						& h6 {
							font-size: 0.7em;
							padding: 10px 0;
						}

						& p {
							font-size: 0.6em;
						}
					}
					@media (min-width: 1200px) {
						& h6 {
							font-size: 0.8em;
							padding: 10px 0;
						}

						& p {
							font-size: 0.7em;
						}
					}
				}
			}
		}
	}
}
