.about {
	position: absolute;
	display: block;
	width: calc(100% - 40px);
	color: rgba(0, 0, 0, 0.8);
	animation-name: seeIn;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-fill-mode: backwards;

	@keyframes seeIn {
		0% {
			left: -100%;
		}
		100% {
			left: 20px;
		}
	}

	& h3 {
		padding: 0 0 10px;
		font-size: 1.3em;
	}
	@media (min-width: 900px) {
		padding: 10px;
		& h3 {
			font-size: 1.5em;
		}
	}

	&__content {
		padding: 10px 10px 0;
		margin-bottom: 20px;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 4px;
		box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);

		& p {
			padding: 5px 0 5px;
			font-size: 0.8em;
		}

		@media (min-width: 900px) {
			padding: 10px;
			& p {
				font-size: 0.9em;
			}
		}

		&-bullets {
			padding: 10px 0px 0;
			display: grid;
			gap: 5px;

			@media (min-width: 900px) {
				grid-template-columns: 1fr 1fr;
				gap: 25px;
			}

			& .bullet__content {
				width: 100%;
				height: 30px;
				display: grid;
				padding: 0 5px;
				grid-template-columns: 1fr 1fr;
				gap: 10px;
				align-items: center;
				border-bottom: 1px solid rgba(0, 0, 0, 0.2);
				border-radius: 10px;
				font-size: 0.9em;

				&-response {
					display: flex;
					justify-content: flex-end;
					font-weight: 400;
				}
			}
		}

		&-services {
			margin-top: 30px;

			& h4 {
				padding: 10px 0;
			}
			& .task {
				display: grid;
				grid-template-columns: 1fr;
				gap: 10px;
				// border: 1px solid red;
				&__item {
					// border: 1px solid blue;
					margin: 5px 0 10px;
					&-icon {
						display: flex;
						justify-content: flex-end;
						& .icon {
							width: 40px;
							height: 40px;
							margin-right: 10px;
							display: flex;
							align-items: center;
							justify-content: center;
							border-radius: 50%;
							color: rgba(0, 0, 0, 0.5);
							background-color: rgba(16, 139, 12, 0.2);
						}
					}
				}

				@media (min-width: 700px) {
					grid-template-columns: 1fr 1fr;
					gap: 15px;
				}
			}
		}

		&-skills {
			margin-bottom: 30px;
			& .skill {
				margin: 10px 0;
				display: grid;
				grid-template-columns: 1fr;
				gap: 15px;

				&__specialty {
					height: 100px;
					padding: 0 10px 0 0px;
					display: flex;
					align-items: center;
					justify-content: space-between;

					@media (min-width: 500px) {
						flex-direction: column;
					}
				}

				@media (min-width: 450px) {
					grid-template-columns: 1fr 1fr;
					gap: 20px;
				}

				@media (min-width: 1000px) {
					grid-template-columns: 1fr 1fr 1fr;
					gap: 20px;
				}
			}
		}

		&-tools {
			margin-bottom: 20px;
			& h4 {
				padding: 5px 0 10px;
			}

			& .tools {
				margin-top: 20px;
				margin-bottom: 10px;
				&__list {
					display: grid;
					grid-template-columns: 1fr 1fr;
					gap: 15px;

					@media (min-width: 400px) {
						grid-template-columns: 1fr 1fr 1fr;
						gap: 20px;
					}

					@media (min-width: 600px) {
						grid-template-columns: 1fr 1fr 1fr 1fr;
					}

					@media (min-width: 800px) {
						grid-template-columns: 1fr 1fr;
					}

					@media (min-width: 900px) {
						grid-template-columns: 1fr 1fr 1fr;
					}

					@media (min-width: 1100px) {
						grid-template-columns: 1fr 1fr 1fr 1fr;
					}

					@media (min-width: 1300px) {
						grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
					}

					& .icon {
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}
			}
		}

		&-education {
			margin: 10px 0 15px;

			& h4 {
				padding-bottom: 15px;
			}

			& .education {
				padding-right: 5px;
				padding-left: 5px;
				&__list {
					display: grid;
					grid-template-columns: 1fr;
					gap: 10px;

					@media (min-width: 1200px) {
						grid-template-columns: 1fr 1fr;
						gap: 20px;
					}

					&-item {
						padding-bottom: 5px;
						display: flex;
						align-items: center;
						justify-content: space-between;
						font-size: 10px;
						border-bottom: 1px solid rgba(0, 0, 0, 0.2);

						& .icon__style {
							display: flex;
							justify-content: center;
							align-items: center;
							width: 35px;
							height: 35px;
							border-radius: 50%;
							background-color: rgba(16, 139, 12, 0.2);
						}

						@media (min-width: 400px) {
							font-size: 10px;
						}

						@media (min-width: 400px) {
							font-size: 13px;
						}

						& a {
							width: 35px;
							text-align: right;
							display: inline-block;
							color: rgba(16, 139, 12, 0.6);
							text-decoration: none;
							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
}
